@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/static/Roboto-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #18181b;
  --header-height: 75px;
}

body {
  background-color: var(--bg-color);
  color: white;
  font-family: "Roboto", sans-serif;
}