.header-main {
  height: var(--header-height);
  border-bottom: 1px solid white;
}

.navigation-elements {
  display: flex;
  position: relative;
  gap: 1.25em;
  margin-left: 5em;
  height: 100%;
}

a {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in;
}

a h2 {
  transition: all 0.3s ease-in-out;
  font-weight: 100;
  text-shadow: 0 0 3px;
}

a:hover {
  .marker {
    margin-top: 5px;
    opacity: 1;
    width: 100%;
  }
  h2 {
    transform: translateY(-3px);
  }
}

a .marker {
  position: absolute;
  transform: translateY(18px);
  height: 2px;
  width: 125%;
  background-color: white;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}