.home {
  display: flex;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  height: var(--content-height);
  transition: all 0.3s ease-in-out;
  gap: 1em;
}

.home-source {
  display: flex;
  flex-direction: column;
  margin-bottom: 6em;
  width: 50%;
  border: 2mm ridge white;
  padding: 20px;
  text-align: center;
  max-width: 600px;
  min-width: 300px;
}


.start {
  height: 40px;
  width: 180px;
  border: thick double black;
  background-color: white;
  outline: 2px solid white;
  color: black;
  cursor: pointer;
  font-family: "Roboto";
  margin-top: 1em;
  transition: all 0.3s ease-in-out;
}

.start:hover {
  outline: 2px solid black;
  border: thick double white;
  background-color: black;
  color: white;
}

img {
  position: absolute;
  right: 0;
  top: 3em;
  margin-right: 3em;
  width: 50%;
  max-width: 800px;
}

p {
  color: #d4d4d8;
}